#Windows Files
*.exe
*.dll
*.zip

#Linux Files
run.sh
bin32/
bin64/

*.dat

gamecontrollerdb.txt

Data/Languages/
Data/Music
Data/Palettes/
Data/Worlds/baba/

Data/Sprites/*
!Data/Sprites/text_bait*
!Data/Sprites/text_lure*
!Data/Sprites/text_means*
!Data/Sprites/text_sticky*